{
  "plugins": ["prettier-plugin-tailwindcss"],
  "singleQuote": true,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": ".parcelrc",
      "options": {
        "parser": "json5"
      }
    }
  ]
}
